.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  overflow: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (max-width: 1000px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1000px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.header {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: 8px;
}
.menu {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 216px;
  height: auto;
  max-width: 0%;
  left: 8px;
  top: 8px;
  max-height: none;
  min-height: 418px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 143px;
  overflow: hidden;
  z-index: 1;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  background: none;
  padding: 2px;
}
.menu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.menu > :global(.__wab_flex-container) > *,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menu > :global(.__wab_flex-container) > picture > img,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (max-width: 1000px) {
  .menu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 6px);
    height: calc(100% + 6px);
  }
}
@media (max-width: 1000px) {
  .menu > :global(.__wab_flex-container) > *,
  .menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menu > :global(.__wab_flex-container) > picture > img,
  .menu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 6px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu > :global(.__wab_flex-container) > *,
  .menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menu > :global(.__wab_flex-container) > picture > img,
  .menu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.button__tQeMn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-end;
  left: auto;
  top: auto;
  height: 76px;
  min-width: 0;
  flex-shrink: 0;
}
.svg___8TVpK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dC5PM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ihuIo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__yLw51 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ua05F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qRPB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__yemP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jslzt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___7ZyHz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__meVz2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__i08Ir {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__bwoC8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__bwoC8:global(.__wab_instance) {
    display: none;
  }
}
.svg__lpsrk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hhyLj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qYsb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__qYsb:global(.__wab_instance) {
    display: none;
  }
}
.svg__xMwF {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___9Sw1A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__mEwqt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__mEwqt:global(.__wab_instance) {
    display: none;
  }
}
.svg__kyTfr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qDkqO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___7R3GY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___7R3GY:global(.__wab_instance) {
    display: none;
  }
}
.svg__ed1Ev {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__aIZ5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___57ALq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___57ALq:global(.__wab_instance) {
    display: none;
  }
}
.svg__nrvUa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___9DdhK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__gKlSp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gKlSp:global(.__wab_instance) {
    display: none;
  }
}
.svg__iv6Jw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hrSrg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__wPrgh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__wPrgh:global(.__wab_instance) {
    display: none;
  }
}
.svg__wK3M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___7Oq5N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__bSq1L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__bSq1L:global(.__wab_instance) {
    display: none;
  }
}
.svg___6Rpfn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hgjKe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__nh4Da:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__nh4Da:global(.__wab_instance) {
    display: none;
  }
}
.svg__cl2FO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__tie7J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__sAhu4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__em4T6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fFdrB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ajdeK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__qtTv5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dVWrk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__exLiq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__c0ADc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vIocU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__d7MV5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__fAFmv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mWyx2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.spacer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  max-width: 100%;
  min-width: 11px;
  padding: 8px;
}
.profile {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 8px;
  right: 0px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .profile {
    display: flex;
  }
}
.button__o0CYd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
}
.svg___5HrYg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cmyOr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mGgux {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  transition-property: all;
  transition-duration: 1s;
  letter-spacing: 1px;
  min-width: 0;
  padding: 10px;
}
@media (max-width: 1000px) {
  .h1 {
    margin-left: calc(0px + 0px) !important;
    padding-left: 225px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    max-width: 58px;
    width: 100%;
    margin-right: 0px;
    font-size: 43px;
    margin-top: calc(0px + 0px) !important;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    letter-spacing: 1px;
    min-width: 0;
    padding: 0px;
  }
}
.text__qaRpz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
}
.reveal__ufKEa:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1460px;
  height: 1004px;
  flex-shrink: 0;
  display: none;
}
.img__no8Ea {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 216px;
  max-height: 1073px;
  object-position: 50% 80%;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__no8Ea > picture > img {
  object-fit: cover;
  object-position: 50% 80%;
}
.img__no8Ea > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 50% 80%;
}
.reveal___6R2Cn:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1460px;
  height: 1042px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  display: none;
}
.img__v3QdF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 216px;
  max-height: 1073px;
  object-position: 50% 80%;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__v3QdF > picture > img {
  object-fit: cover;
  object-position: 50% 80%;
}
.img__v3QdF > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 50% 80%;
}
