.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  overflow: auto;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (max-width: 1000px) {
  .root > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1000px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.header {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: 8px;
}
.menu {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: 104px;
  height: auto;
  max-width: 0%;
  left: 8px;
  top: 8px;
  max-height: none;
  min-height: 418px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 139px;
  overflow: visible;
  z-index: 1;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  background: none;
  padding: 2px;
}
.menu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.menu > :global(.__wab_flex-container) > *,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.menu > :global(.__wab_flex-container) > picture > img,
.menu > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (max-width: 1000px) {
  .menu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 6px);
    height: calc(100% + 6px);
  }
}
@media (max-width: 1000px) {
  .menu > :global(.__wab_flex-container) > *,
  .menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menu > :global(.__wab_flex-container) > picture > img,
  .menu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 6px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu > :global(.__wab_flex-container) > *,
  .menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menu > :global(.__wab_flex-container) > picture > img,
  .menu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.button__tQeMn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  align-self: flex-end;
  left: auto;
  top: auto;
  height: 76px;
  min-width: 0;
  flex-shrink: 0;
}
.svg___8TVpK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dC5PM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ihuIo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__yLw51 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ua05F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qRPB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__yemP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jslzt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___7ZyHz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__meVz2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__i08Ir {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nX7Hs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  padding: 0px;
}
.nftButton__pTopd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__iy4Mx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cmhHl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.nftButton2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.button__tBnJt:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__tBnJt:global(.__wab_instance) {
    display: none;
  }
}
.svg__iYVcC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__s3Sa5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty2 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.nftButton3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.button__jbigo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__jbigo:global(.__wab_instance) {
    display: none;
  }
}
.svg__xbGjv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__w1O38 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty3 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.nftButton4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.button___0Qeot:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___0Qeot:global(.__wab_instance) {
    display: none;
  }
}
.svg__vgAS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__msdGu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty4 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.nftButton5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.button__lm3PW:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lm3PW:global(.__wab_instance) {
    display: none;
  }
}
.svg__kWsOt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xgIgm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty5 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.nftButton6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.button__wihAz:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__wihAz:global(.__wab_instance) {
    display: none;
  }
}
.svg___3GrPu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wcmeC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty6 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.nftButton7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.button__sWn0B:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__sWn0B:global(.__wab_instance) {
    display: none;
  }
}
.svg__ff2Aa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yhJmx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty7 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.nftButton8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.button__sczGf:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__sczGf:global(.__wab_instance) {
    display: none;
  }
}
.svg__i47Al {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xoHaD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.qty8 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 800px;
  align-self: center;
  text-align: right;
  flex-shrink: 0;
}
.button__sAhu4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__em4T6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__fFdrB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ajdeK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__qtTv5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dVWrk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__exLiq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__c0ADc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__vIocU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__d7MV5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.svg__fAFmv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mWyx2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.spacer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  max-width: 100%;
  min-width: 11px;
  padding: 8px;
}
.profile {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 8px;
  right: 0px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .profile {
    display: flex;
  }
}
.button__o0CYd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
}
.svg___5HrYg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cmyOr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mGgux {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  transition-property: all;
  transition-duration: 1s;
  letter-spacing: 1px;
  min-width: 0;
  padding: 10px;
}
@media (max-width: 1000px) {
  .h1 {
    margin-left: calc(0px + 0px) !important;
    padding-left: 225px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    max-width: 58px;
    width: 100%;
    margin-right: 0px;
    font-size: 43px;
    margin-top: calc(0px + 0px) !important;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    letter-spacing: 1px;
    min-width: 0;
    padding: 0px;
  }
}
.text__qaRpz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
}
.reveal__ufKEa:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1460px;
  height: 1004px;
  flex-shrink: 0;
  display: none;
}
.img__no8Ea {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 216px;
  max-height: 1073px;
  object-position: 50% 80%;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__no8Ea > picture > img {
  object-fit: cover;
  object-position: 50% 80%;
}
.img__no8Ea > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 50% 80%;
}
.reveal___6R2Cn:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1460px;
  height: 1042px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  display: none;
}
.img__v3QdF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 216px;
  max-height: 1073px;
  object-position: 50% 80%;
  left: auto;
  top: auto;
  min-width: 0;
}
.img__v3QdF > picture > img {
  object-fit: cover;
  object-position: 50% 80%;
}
.img__v3QdF > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 50% 80%;
}
